# Python Dasar

***_Sumber_*** :
~~~
http://sakti.github.io/python101/dasar.html
~~~

### Menggunakan Python sebagai kalkulator
Python dapat digunakan dalam beberapa mode, diantaranya kita dapat mengeksekusi *interpreter* pada Python tanpa skrip argumen yang telah dibuat sebelumnya

In [1]:
1 + 2

3

In [2]:
-5 * 5

-25

In [3]:
144 / 12

12.0

In [4]:
7 - 2

5

In [5]:
100 ** .5

10.0

### Operasi aritmatika
Berikut table operasi aritmatika di Python

In [6]:
import pandas as pd
list1 = ['+', '-', '*', '**', '/', '//', '%']
list2 = ['Penambahan', 'Pengurangan', 'Perkalian', 
         'Pangkat', 'Pembagian', 'Pembagian bulat ke bawah', 
         'Modulus']
dict = {'Operasi': list1, 'Keterangan': list2}
pd.DataFrame(dict)

  Operasi                Keterangan
0       +                Penambahan
1       -               Pengurangan
2       *                 Perkalian
3      **                   Pangkat
4       /                 Pembagian
5      //  Pembagian bulat ke bawah
6       %                   Modulus

In [7]:
# Contoh
7 / 4

1.75

In [8]:
7 // 4

1

In [9]:
10 / 3

3.3333333333333335

In [10]:
10 // 31

0

In [11]:
2 % 3

2

In [12]:
-5 % 4

3

### Menggunakan Python untuk mencetak teks
Selain dapat digunakan sebagai kalkulator, Python dapat mencetak teks

In [13]:
# Contoh
print('Halo Dunia!')

Halo Dunia!

In [14]:
print('Indonesia, tanah airku \n Tanah tumpah darahku \n Di sanalah aku berdiri \n Jadi pandu ibuku \n')

Indonesia, tanah airku
 Tanah tumpah darahku
 Di sanalah aku berdiri
 Jadi pandu ibuku

Operator matematika seperti `+` dan `*` dapat digunakan dalam manipulasi cetak teks

In [48]:
'Indonesia,' + ' tanah' + ' airku'

'Indonesia, tanah airku'

In [47]:
print('Merdeka! ' * 2)

Merdeka! Merdeka!

##### Perbedaan cetak teks dengan komentar
Komentar adalah teks apapun yang diawali dengan tanda `#` (hashtag). Komentar biasa digunakan untuk memberikan catatan kepada pembaca kode

In [15]:
# contoh
# untuk mencetak teks di baris baru gunakan '\n'

import numpy as np # numpy adalah package untuk komputasi sains

10 // 3 # operator '//' digunakan untuk pembagian dengan pembulatan ke bawah

# print('coba cetak teks ini')

3

### Konstanta, Bilangan, Boolean, dan String
Secara umum terdapat empat tipe objek dalam Python yaitu konstanta, bilangan, boolean, dan string

#### Konstanta
Contoh konstanta yaitu bilangan seperti `7`, `3.14`, atau string seperti `'Indonesia Raya'` atau `"Halo Dunia!"`. Nilai konstanta dapat digunakan secara langsung contohnya seperti bilangan `7`, `3.14`,`'Indonesia Raya'` atau `"Halo Dunia!"` selalu merepresentasikan dirinya sendiri dan nilainya tidak dapat diubah

#### Bilangan
Secara khusus bilangan dalam Python dibagi menjadi dua tipe yaitu `integer` (bulat) dan `float` (pecahan). Contoh untuk tipe `integer` yaitu `7` sedangkan untuk tipe `float`  adalah `3.14` atau `21.7e-8`. Notasi `e` pada contoh tipe `float` mengindikasikan pangkat 10

#### Boolean
Boolean adalah objek yang memiliki nilai `True` (Benar) atau `False` (Salah). Dalam Python objek boolean dapat juga dituliskan dalam angka yaitu 1 untuk `True` dan 0 untuk `False`. Penggunaan objek boolean dapat kita lihat dalam penggunaan operator pembanding dan operator logika

In [41]:
# Contoh operator pembanding
print(4 > 2) # lebih besar '>'
print(4 < 2) # lebih kecil '<'
print(4 != 2) # Tidak sama dengan '!='
print(7 >= 7) # Lebih besar sama dengan '>='
print(7 <= 7) # Lebih kecil sama dengan '<='
print(7 == 7) # Sama dengan '=='

True
False
True
True
True
True

In [45]:
#Contoh operator logika
print(4 > 2 and 7 >= 7)
print(True or False)
print(not False)

True
True
True

#### String
String adalah suatu rangkaian karakter dalam Python yang bersifat *Immutable*, artinya setelah string dibuat maka tidak bisa diubah. String dapat dituliskan dengan berbagai cara diantaranya:  

**Single Quote**

In [37]:
print('Indonesia Raya')

Indonesia Raya

**Double Quote**

In [39]:
print("Halo Dunia!")

Halo Dunia!

**Triple Quote**

In [40]:
print('''Contoh Triple Quote''')

Contoh Triple Quote

#### Format String
Dalam Python jika ingin menambahkan string dari informasi lain dapat menggunakan format string dengan menggunakan operator `%`. Operator `%` tidak berfungsi sebagai modulus jika digunakan untuk string

In [16]:
# Contoh
print('%s tanah %s' % ('Indonesia,', 'airku'))
print('{0} tumpah {1}'.format('Tanah', 'darahku'))

Indonesia, tanah airku
Tanah tumpah darahku

### Variabel Dalam Python
~~~
http://kamarpython.blogspot.com/2012/05/tipe-data-dan-variabel-pada-python.html
http://klinikpython.wordpress.com/2012/01/03/dasar-python-semua-harus-mempunyai-nama/
~~~
Variabel adalah entitas yang memiliki nilai yang berbeda antar satu dengan lainnya. Dalam Python, variabel mengalokasikan memori untuk menyimpan nilainya. Tipe data dalam Python dibagi menjadi dua kelompok yaitu:  
&nbsp;&nbsp;&nbsp;&nbsp; ***_Immutable_***: tipe data tidak bisa diubah (string dan bilangan)  
&nbsp;&nbsp;&nbsp;&nbsp;***_Mutable_***: tipe data dapat diubah (list dan dictionary)  

Deklarasi variabel terjadi secara otomatis saat diberikan sebuah nilai menggunakan tanda `=` pada suatu variabel. Penggunaan nama variabel yang sama dengan kata kunci default di interpreter Python tidak diperbolehkan, berikut adalah kata kunci default yang terdapat dalam interpreter Python

In [27]:
from tabulate import tabulate
tabel =[
    ['False', 'None', 'True', 'and', 'as', 'assert', 'break'],
    ['class', 'continue', 'def', 'del', 'elif', 'else','except'],
    ['finally', 'for', 'from', 'global', 'if', 'import', 'in'],
    ['is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise'],
    ['return', 'try', 'while', 'with', 'yield']
]
print(tabulate(tabel))

-------  --------  --------  ------  -----  ------  ------
False    None      True      and     as     assert  break
class    continue  def       del     elif   else    except
finally  for       from      global  if     import  in
is       lambda    nonlocal  not     or     pass    raise
return   try       while     with    yield
-------  --------  --------  ------  -----  ------  ------

Adapun beberapa aturan lainnya untuk penamaan variabel dalam Python yaitu:  
1. Nama variabel dapat terdiri dari alphabet dan angka
2. Nama variabel tidak boleh ada spasi atau simbol-simbol seperti `? ! @ # + - % ^ & * ( ) [] { } . , ; : " ' / \`. Tanda garis bawah ( _ ) dapat digunakan untuk mengganti spasi. Contoh: halo_dunia.
3. Nama antar variabel harus berbeda/unik. Misal terdapat dua variabel yang memiliki nilai berbeda, maka nama kedua variabel tersebut haruslah berbeda juga. Jika menggunakan nama variabel yang telah dideklarasikan sebelumnya maka Python akan menggunakan nilai yang terkandung di variabel terakhir, berikut contohnya

In [31]:
# contoh variabel dengan nama yang berbeda
a = 7
b = 3.14
print(a)
print(b)

7
3.14

In [32]:
# contoh variabel dengan nama yang sama
a = 7
a = 3.14
print(a)
print(b)

3.14
3.14

4. Disarankan penamaan variabel menggunakan huruf kecil/tidak kapital
5. Disarankan variabel dinamakan secara ringkas, bermakna dan ada hubungannya dengan nilai yang terkandung
6. Jika nama variabel terdiri dari dua suku kata atau lebih, gabungan antar kata dibatasi dengan `_` dan huruf kapital di awalan tiap kata

### Operasi matematika dan pengisian variabel
~~~
http://workshop-python-101.readthedocs.org/en/latest/operator_dan_ekspresi.html
~~~

Untuk mempermudah operasi matematika, dalam Python kita dapat menyimpan hasil operasi matematika tersebut dalam variabel

In [56]:
a = 1 * 3 + 18 / 3
a = 22 / a
print(a)

2.4444444444444446

#### Urutan evaluasi
Dalam Python, jika terdapat operasi matematika seperti `1 * 3 + 18 / 3` yang dikerjakan terlebih dahulu adalah perkalian. Berikut adalah contohnya

In [65]:
2 - 1 * 3 + 18 / 3

5.0

Hasil yang diharpkan dari operasi matematika diatas adalah 7. Untuk merubah urutan evaluasi tersebut kita dapat menggunakan tanda kurung sebagai berikut

In [67]:
((2 - 1) * 3 + 18) / 3

7.0

Operator dengan level urutan evaluasi yang sama akan dievaluasi dari kiri ke kanan. Beberapa operator pengisian nilai seperti `=` memiliki sifat asosiatif dari kanan ke kiri, berikut contohnya

In [71]:
# Contoh 1
1 + 2 + 3 + 1

7

In [72]:
# Contoh 2
15 - 2 - 4 - 2

7

In [77]:
# Contoh 3 -asosiatif-
a = 1
b = 2
c = 3
a = b = c
print(a)

3