# Latihan 1

### Membuat variabel baru dan operasi sederhana

In [1]:
a = 10
b = 20
c = 30
print(a)
print(b)
print(c)

10
20
30

In [ ]:
print(a,b,c)

In [ ]:
total = a + b + c
print(total)

In [ ]:
nama = 'Ibu'
tempat = 'Toko swalayan'
print(nama)
print(tempat)

In [ ]:
print('jumlah total = %s' % total)

In [ ]:
print('%s pergi ke %s' % (nama,tempat))

In [ ]:
print(nama, 'belanja sebanyak', total, 'ribu rupiah di', tempat)
print('%s belanja sebanyak %s ribu rupiah di %s' % (nama, total, tempat))

In [ ]:
a1=756.345 * 329.743
a2=826.198 - 1345.239
a3=673.473 ** .5
print(a1,";",a2,a3)

In [ ]:
p = input('masukan panjang: ')
l = input('masukan lebar: ')
luas = int(p) * int(l)
print('maka luas persegi panjang adalah:', luas)

In [ ]:
print(3 + 2 * 3 - 10 / 5)
print((3 + 2) * (3 - 10 / 5))

In [ ]:
print(10 > 2) #lebih besar
print(10 < 2) #lebih kecil
print(10 != 2)#tidak sama dengan
print(5 >= 5) #lebih besar sama dengan
print(5 <= 5) #lebih kecil sama dengan
print(5 == 5) #sama dengan
print('test' == 'test')`

### Operasi matematika sederhana

In [ ]:
bilangan1 = 5
bilangan2 = 3
print('bil1 = ', bilangan1)
print('bil2 = ', bilangan2)
print('bil1 + bil2 = ', bilangan1 + bilangan2)
print('bil1 - bil2 = %s' % (bilangan1 - bilangan2))
print('bil1 * bil2 = {0}'.format(bilangan1 * bilangan2))
print('bil1 ** bil2 = ', bilangan1 ** bilangan2)
print('bil1 / bil2 = ', bilangan1 / bilangan2)
print('bil1 // bil2 = ', bilangan1 // bilangan2)

In [ ]:
#Diketahui
total_uang = 10000
harga_barang = 5000
diskon = .10
#harga setelah diskon
harga_barang *= (1 - diskon)
total_uang -= harga_barang
print('uang kembalian = Rp.{:0,.0f}'.format(total_uang)

In [ ]:
#set variabel
uang = input('total uang: ')
harga = input('harga barang: ')
diskon = input('% diskon: ')
uang = int(uang)
harga = int(harga)
diskon = int(diskon)/100

#operasi matematika
harga *= (1 - diskon)
uang -= harga

print('uang kembalian = Rp.{:0,.0f}'.format(uang))

In [ ]:
#diketahui
alas = 35
tinggi = 73.2
luas = .5 * alas * tinggi
print('luas segitiga = %s' % luas,'cm')

In [ ]:
#set variabel
alas = input('alas (cm): ')
tinggi = input('tinggi(cm): ')
alas = int(alas)
tinggi = int(tinggi)

#operasi matematika
luas = .5 * alas * tinggi
print('luas segitiga = %s' % luas,'cm')

In [ ]:
#Diketahui
x = 23 #sisi atas
y = 45 #sisi bawah
z = 31 #tinggi
luas_tpsm = (x + y)*z/2
print('luas trapesium = %s' % luas_tpsm,"cm2")

In [ ]:
#set variabel
x = input('sisi atas: ')
y = input('sisi bawah: ')
z = input('tinggi: ')
x = int(x)
y = int(y)
z = int(z)

#operasi matematika
luas_tpsm = (x + y)*z/2
print('luas trapesium = %s' % luas_tpsm,"cm2")